.MMM-Globe-image {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}
.MMM-Globe-image-centralAmericaDiscNat {
	-webkit-clip-path: circle(44% at 50% 50%);
	clip-path: circle(44% at 50% 50%);
}
